/* Error: semicolons aren't allowed in the indented syntax.
 *    ,
 * 16 | $smoky-black: #121113ff;
 *    |                        ^
 *    '
 *   css/_base.sass 16:24  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: semicolons aren't allowed in the indented syntax.\a    \2577 \a 16 \2502  $smoky-black: #121113ff;\a    \2502                         ^\a    \2575 \a   css/_base.sass 16:24  root stylesheet";
}
